@import "../../generalStyle/variables.scss";
@import "../../generalStyle/fontface.scss";

.SideNavItems {
  background-color: $secondary;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 40px 0px 15px;
  align-content: center;
  width: 12vw;
  height: 100vh;
  position: fixed;
  margin: 0;

  p {
    font-family: "Inconsolata Regular";
    color: white;
    font-size: 1.2rem;
    margin: 0;
  }
  .linksContainer a,
  .linksContainer p {
    text-decoration: none;
    line-height: 4rem;
  }

  .markup {
    background-image: url(../../images/select.svg);
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
}
