@import '../../generalStyle/variables.scss';
@import '../../generalStyle/fontface.scss';

.ApprovedOrder {
    background: linear-gradient($secondary, $primary);
    padding: 100px 0;

    h1 {
        margin: 50px 20px;
    }

    .approvalMessage {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 0 20px 50px 20px;
        padding: 10px;
    }

    .approvalMessage p {
        color: $primary;
    }
    .approvalMessage h3 {
        color: $primary;
    }

    .statusBar {
        margin: 0 20px 50px 20px;
        padding: 10px;
        position: relative;
        height: 70px;
    }

    .barEmpty {
        background-image: url(../../images/status_empty.svg);
        width: 85vw;
        height: 15vw;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .barFull {
        background-image: url(../../images/status_full.svg);
        width: 85vw;
        height: 15vw;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        animation: waiting 360s linear forwards;
        transform-origin: left center;
    }

    @keyframes waiting {
        0% {
            width: 0%;
        }
        100% {
            width: 85vw;
        }
    }

    .cheers {
        margin: 0 20px 100px 20px
    }

    .spacer {
        height: 200px;
    }
}

@media screen and (min-width: 600px){
    .App {
      .ApprovedOrder{
        margin: 0 25vw;

        .barEmpty {
          width: 44vw;
          height: 7.8vw;
      }
      .barFull {
          width: 44vw;
          height: 7.8vw;
      }
      @keyframes waiting {
        0% {
            width: 0%;
        }
        100% {
            width: 44vw;
        }
    }
  
      }
    }
  }
  
  @media screen and (min-width: 1200px){
    .App {
      .ApprovedOrder{
        margin: 0 35vw;

        .barEmpty {
          width: 26vw;
          height: 4.6vw;
      }
      .barFull {
          width: 26vw;
          height: 4.6vw;
      }
      @keyframes waiting {
        0% {
            width: 0%;
        }
        100% {
            width: 26vw;
        }
      }
    }
  }
}
  
  @media screen and (min-width: 2200px){
    .App {
      .ApprovedOrder{
        margin: 0 40vw;

        .barEmpty {
          width: 18vw;
          height: 1.86vw;
      }
      .barFull {
          width: 18vw;
          height: 1.86vw;
      }
      @keyframes waiting {
        0% {
            width: 0%;
        }
        100% {
            width: 18vw;
        }
      }
      }
    }
  }
