
@import '../../../generalStyle/fontface.scss';
@import '../../../generalStyle/variables.scss';


.OrderItems {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 5px 10px;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $white;
        text-decoration: none;
        align-self: center;

    p {
      font-size: 1.1rem;
      margin: 0;
    }

    img {
      width: 100%;
    }
  }
}
