@import "../../../generalStyle/fontface.scss";

.DashItems {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px 10px;
  align-items: center;

  p {
    font-family: "Inconsolata Regular";
    color: white;
    font-size: 1rem;
    margin: 0;
    justify-self: end;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    img {
      width: 100%;
    }
  }
}
