@import './generalStyle/variables.scss';

body {
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Inconsolata regular';
  font-size: 2rem;
  color: $white;
}


h2{
  font-family: 'Inconsolata regular';
  color: $white;
  font-size: 1.5rem;
}

h3{
  font-family: 'Inconsolata regular';
  color: $white;
  font-size: 1.2rem;
}


p,
li{
  font-family: 'Montreal regular';
  color: $white;
  font-size: 0.9rem;
  line-height: 17px;
}

span {
  font-family: 'Inconsolata regular';
  color: $white;
  font-size: 1.4rem;
}


@media screen and (min-width: 600px){
  .App {
    .OrderWrapper{
      margin: 0 25vw;

    }
  }
}

@media screen and (min-width: 1200px){
  .App {
    .OrderWrapper{
      margin: 0 35vw;

    }
  }
}

@media screen and (min-width: 2200px){
  .App {
    .OrderWrapper{
      margin: 0 40vw;

    }
  }
}



