@import './generalStyle/variables.scss';

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 2rem;
  color: $white;
  padding: 0 20px;
}

h2{
  color: $white;
  font-size: 1.5rem;
  padding: 0 20px;
}

@media screen and (min-width: 600px){
  .App {
    .OrderWrapper{
      margin: 0 25vw;

    }
  }
}

@media screen and (min-width: 1200px){
  .App {
    .OrderWrapper{
      margin: 0 35vw;

    }
  }
}

@media screen and (min-width: 2200px){
  .App {
    .OrderWrapper{
      margin: 0 40vw;

    }
  }
}



