.QueueBox {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60vw;;
    height: auto;
    padding: 10px 10px 30px 10px;
    margin: 20px;
  }

  @media screen and (min-width: 1030px) {
    .QueueBox {
    width: 25vw;
    height: 82vh;
    padding: 20px;
    margin: 0 0 0 2.5vw;
    }
  }