@import "../../generalStyle/variables.scss";
@import "../../generalStyle/fontface.scss";
.overviewDash {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  top: 10vh;
  left: 17vw;
  z-index: 2;

  h1,
  p {
    font-family: "Inconsolata Regular";
    color: $secondary;
  }

  .QueueBoxDash {
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    width: 25vw;
    grid-template-columns: 1fr;
    height: 82vh;
    padding: 20px;
    margin: 0 2.5vw 0 0;
  }

  .ProcessBoxDash {
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    width: 25vw;
    grid-template-columns: 1fr;
    height: 82vh;
    padding: 20px;
    margin: 0;
  }

  .ReadyBoxDash {
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    width: 25vw;
    grid-template-columns: 1fr;
    height: 82vh;
    padding: 20px;
    margin: 0 0 0 2.5vw;
  }
}
@media screen and (min-width: 1030px) {
  .overviewDash {
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 80vw;
  }
}
